.my-calendar-datebox {
    height: 100px;
    max-height: 100px;
    border: thin solid #7f7f7f;
}

.my-calendar-datebox.weekend {
    background-color: rgba(233,233,233, 0.5);
}

.my-calendar-datebox.weekend p{
    color: #2f74b5;
}

.my-calendar-datebox.not-month p{
    opacity: 0.5;
}

.my-calendar-datebox p {
    /* padding-right: 2px;
    padding-left: 2px; */
    /* margin: 2px; */
    /* margin-left: 10px; */
    /* display: inline-block; */
    font-weight: bold;
    font-size: 1em;
}

.my-calendar-datebox .date-label-container {
    position: relative;
    /* margin: 5px 0px 0px 5px; */
}

.my-calendar-datebox .date-label-container .date-label {
    position: absolute;
    left: 5px;
    /* margin: 5px 0px 0px 5px; */
}

.my-calendar-datebox .reminders-container {
    position: relative;
    /* display: block; */
    /* width: 100%; */
    /* margin: 5px 0px 5px 5px; */
}

.my-calendar-datebox .reminders-container .reminders-container-list {
    position: absolute;
    top: 0;
    padding-left: 25px;
    width: 100%;
    /* height: 85%; */
    /* max-height: 85px; */
}

.my-calendar-datebox .reminders-container .reminders-container-list .reminders-container-list-item {
    margin: 0px;
    overflow: hidden;
    font-size: 0.7em;
}

@media only screen and (max-width: 768px) {  

    .my-calendar-datebox {
        height: 50px;
        max-height: 50px;
    }
}