<div class="container">

  <form [formGroup]="reminderForm">

    <div class="form-group">
      <label for="reminder">Reminder</label>
      <input type="text" class="form-control" formControlName="reminder"
        [ngClass]="{ 'is-invalid': reminder?.touched && reminder?.invalid }" id="reminder"
        aria-describedby="reminderHelp" placeholder="Enter Reminder">
      <div class="invalid-feedback" *ngIf="reminder?.touched && reminder?.invalid">
        Has Error
      </div>
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" formControlName="city"
        [ngClass]="{ 'is-invalid': city?.touched && city?.invalid }" id="city" aria-describedby="cityHelp"
        placeholder="Enter City">
      <div class="invalid-feedback" *ngIf="city?.touched && city?.invalid">
        Has Error
      </div>
    </div>

    <div class="form-group">
      <label for="day">Day</label>
      <input type="text" class="form-control" formControlName="day"
        [ngClass]="{ 'is-invalid': day?.touched && day?.invalid }" id="day" aria-describedby="dayHelp"
        placeholder="Enter Day">
      <div class="invalid-feedback" *ngIf="day?.touched && day?.invalid">
        Has Error
      </div>
    </div>

    <div class="form-group">
      <label for="time">Time</label>
      <input type="text" class="form-control" formControlName="time"
        [ngClass]="{ 'is-invalid': time?.touched && time?.invalid }" id="time" aria-describedby="timeHelp"
        placeholder="Enter Time">
      <div class="invalid-feedback" *ngIf="time?.touched && time?.invalid">
        Has Error
      </div>
    </div>

    <div class="form-group">
      <label for="color">Color</label>
      <input type="text" class="form-control" formControlName="color"
        [ngClass]="{ 'is-invalid': color?.touched && color?.invalid }" id="color" aria-describedby="colorHelp"
        placeholder="Enter Color">
      <div class="invalid-feedback" *ngIf="color?.touched && color?.invalid">
        Has Error
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!reminderForm.valid"
      (click)="AddReminder()">Submit</button>
  </form>

</div>

<pre>{{ selectedDay | json }}</pre>
<pre>{{ reminders | json }}</pre>

<!-- <div *ngIf="name?.invalid && (name?.dirty || name?.touched)"
    class="alert alert-danger">

  <div *ngIf="name?.errors?.required">
    Name is required.
  </div>
  <div *ngIf="name?.errors?.minlength">
    Name must be at least 4 characters long.
  </div>
  <div *ngIf="name?.errors?.forbiddenName">
    Name cannot be Bob.
  </div>
</div> -->