.my-calendar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.my-calendar-container {
    margin-left: 10%;
    margin-right: 10%;
}

@media only screen and (max-width: 768px) {

    .my-calendar {
        font-size: 0.8em;
    }

    .my-calendar-container {
        margin-left: 0%;
        margin-right: 0%;
    }
}

/* .my-calendar-row {
    margin-bottom: 5px;
} */

.my-calendar-box-col {
    display: inline-block;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
}

.my-calendar-weekday-title {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-color: #2f74b5;
    text-align: center;
    color: white;
    font-weight: bold;
}

/* spacement bottom	*/
.my-calendar-mb-none {
	margin-bottom: 0 !important;
}

.my-calendar-mb-xs {
	margin-bottom: 5px !important;
}

.my-calendar-mb-sm {
	margin-bottom: 10px !important;
}

.my-calendar-mb-md {
	margin-bottom: 15px !important;
}

.my-calendar-mb-lg {
	margin-bottom: 20px !important;
}

.my-calendar-mb-xl {
	margin-bottom: 25px !important;
}

.my-calendar-mb-xlg {
	margin-bottom: 30px !important;
}



/* spacement bottom	*/
.my-calendar-mt-none {
	margin-top: 0 !important;
}

.my-calendar-mt-xs {
	margin-top: 5px !important;
}

.my-calendar-mt-sm {
	margin-top: 10px !important;
}

.my-calendar-mt-md {
	margin-top: 15px !important;
}

.my-calendar-mt-lg {
	margin-top: 20px !important;
}

.my-calendar-mt-xl {
	margin-top: 25px !important;
}

.my-calendar-mt-xlg {
	margin-top: 30px !important;
}