<div class="container">
    <div class="row">
        <div class="col-md-3">
            {{ currentMonth }} of {{ currentYear }}
        </div>
        <div class="col-md-3 col-md-offset-6">
        </div>
    </div>
</div>

<div class="my-calendar my-calendar-container">

    
    <div class="my-calendar-row my-calendar-mb-lg">
        <button class="btn btn-success my-calendar-btn-add" (click)="openModal(createReminderModal)">Add a reminder</button>
    </div>

    <div class="my-calendar-row">
        <div *ngFor="let weekDay of weekDays" class="my-calendar-box-col my-calendar-weekday-title">{{ weekDay }}</div>
    </div>
    <div class="my-calendar-row">
        <div *ngFor="let day of rangeOfDays" class="my-calendar-box-col">
            <app-monthly-date (onSelectDate)="onDateSelected($event)" [withinTheViewMonth]="day.withinTheViewMonth"
                [day]="day.day" [weekday]="day.weekday" [month]="day.month" [year]="day.year">
            </app-monthly-date>
        </div>
    </div>
</div>

<!-- Modal for creating reminder -->
<ng-template #createReminderModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create Reminder</h4>
        <button type="button" class="close" aria-label="Close" (click)="onReminderModalDismised()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-create-reminder [selectedDay]="selectedDay" (onSaveReminder)=onReminderSaved()>
        </app-create-reminder>
    </div>
</ng-template>

<!-- Modal for listing reminders -->
<ng-template #listReminderModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Reminders</h4>
        <button type="button" class="close" aria-label="Close" (click)="onReminderModalDismised()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-list-reminder *ngIf="selectedDay" [selectedDay]="selectedDay"
            (onSelectReminder)="onReminderSelected($event)"></app-list-reminder>
    </div>
</ng-template>

<div class="row">
    <div class="col-md-6">
        <app-update-reminder *ngIf="selectedReminder" [selectedReminder]="selectedReminder"></app-update-reminder>
    </div>
</div>