<div class="my-calendar my-calendar-container">
    <div class="my-calendar-row">
        <div *ngFor="let weekDay of weekDays" class="my-calendar-box-col my-calendar-weekday-title">{{ weekDay }}</div>
    </div>
    <div class="my-calendar-row">
        <div *ngFor="let day of rangeOfDays" class="my-calendar-box-col">
            <app-monthly-date 
                (onSelectDate)="onDateSelect($event)"
                [withinTheViewMonth]="day.withinTheViewMonth" 
                [day]="day.day" 
                [weekday]="day.weekday" 
                [month]="day.month" 
                [year]="day.year">
            </app-monthly-date>
        </div>
    </div>
</div>

<app-create-reminder [selectedDay]="selectedDay"></app-create-reminder>